// buttons style

.blog_button-medium-size {

    background-color: $button-normal-state;
    border-radius: 100px;
    font-size: $large;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    &:hover { 
        background-color: $button-hover-state; 
        color: $white; 
    }  
    &:focus {
        background-color: $button-normal-state;
        border: 3px solid $button-focus-state;
    }  
}

@media (max-width: 768px) {
    
    .blog_button-medium-size {
        font-size: $small;
    }
}