// colors

$white: #fff;
$platinum: #e6e7e7;
$light-gray: #d1d1d1;
$fuzzy-wuzzy: #e56353;
$rudy-pink: #d76c69;
$spanish-pink: #ecbcba;
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;

// font family
$roboto: 'Roboto', sans-serif;
$playfair-display: 'Playfair Display', serif;

// font weight
$roboto-light: 300;
$roboto-regular: 400;
$playfair-regular: 400;
$playfair-black-italic: 900;

// font size
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

// font style

$italic: italic;

// buttons state

$button-normal-state: $nickel;
$button-hover-state: $light-gray;
$button-focus-state: $light-gray;

// links state

$links-normal-state: $light-gray;
$links-hover-state: $nickel;
$links-focus-state: $platinum;

// pagination size

$pagination-normal-size: $medium;
$pagination-small-size: $small;

// thumbnails size

$thumbnail-normal-size: 100%;
$thumbnail-small-size: 40%;