// main style

.main {
    margin-bottom: 0;
}

// blog section

.blog {

    color: $nickel;
    width: 90%;
    text-align: left;
    display: flex; 
    flex-direction: column; 
    padding-top: 3em;
    padding-bottom: 3em;

    &_text {
        line-height: 3em;
        padding-top: 2em;
        font-size: $medium;
    }
}

@media (max-width: 768px) {
    
    .blog_text {
        font-size: $small;
        padding-top: 1em;
    }

    .blog_button-position {
        text-align: center;
    }
}


// about section

.about {
    padding-bottom: 2em;

    &_title {
        margin: 0;
        font-family: $playfair-display;
        color: $eerie-black ;
        font-style: italic;
        font-size: $x-large;
        font-weight: $playfair-black-italic;
    }
    &_text {
        color: $nickel;
        line-height: 2.5em;
    }
    &_img {
        border-radius: 200px;
        width: $thumbnail-normal-size;
    }
    &_links {
        color: $links-normal-state;
        margin: 0;
        font-size: $large;
        text-align: left;
        text-decoration: none;
        
        &:hover { 
            color: $links-hover-state; 
        }  
        &:active {
            color: $links-focus-state
        } 
    }
}

.about_body a {
    text-decoration: none;
    }

@media (max-width: 768px) {
    
    .about_img {
        width: $thumbnail-small-size;
    }
    .about_body a {
        text-decoration: none;
        }
    .about_links {
        text-align: center;  
    }
    .about_title {
        text-align: center;
    }
}